# Data Sturcture
1. List [] = Ordered, contain duplicates, Allow all data types, Mutable
2. Tuple () =  Ordered, contain duplicates, Allow all data types,ImMutable
3. Dictionary {K:V}- UnOrdered, overwirtes duplicates, Allow all data types, Mutable
4. Set {} = Unordered, No Duplicates, Does not allow Boolean, Mutable

1. Ordered - Consumes lot of memory, remembers all indices for all records
1. Unordered - if we supply (1,2,3), it does not give (1,2,3) it can give (2,3,1)
1. Mutable - u can change the data structures, eg: a= [1, 2] , a[0] = 3, output: a= [1,3]

# List

In [4]:
a = [1,2,3,1,2,3, "abc","new",True,12.5]
a

[1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

In [5]:
a[0]

1

In [6]:
type(a)

list

In [7]:
a[0] = "Python"
a

['Python', 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

In [8]:
list([10,20,30])

[10, 20, 30]

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [14]:
ab = list(range(10))

In [15]:
ab

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
x = [1,2,3,1,2,3, "abc","new",True,12.5]
x

[1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

In [29]:
print("X = ", x)
print('\n First Character', x[0])
print('\n Last Character', x[-1])
print('\n From 2nd Character', x[1:])
print('\n Until 10th Character', x[:7])
print('\n Between 2nd to 10th Character', x[1:7])
print('\n Negative indexing', x[-4:])
print('\n With Intervals', x[::1])
print('\n With Intervals', x[::2])
print('\n Reverse', x[::-1])
print('\n Negative indexing', x[:-4])

X =  [1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

 First Character 1

 Last Character 12.5

 From 2nd Character [2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

 Until 10th Character [1, 2, 3, 1, 2, 3, 'abc']

 Between 2nd to 10th Character [2, 3, 1, 2, 3, 'abc']

 Negative indexing ['abc', 'new', True, 12.5]

 With Intervals [1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

 With Intervals [1, 3, 2, 'abc', True]

 Reverse [12.5, True, 'new', 'abc', 3, 2, 1, 3, 2, 1]

 Negative indexing [1, 2, 3, 1, 2, 3]

## operations in List

In [30]:
x

[1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5]

In [31]:
y = ['abc', 'new', True, 12.5]
y

['abc', 'new', True, 12.5]

In [32]:
x.append(10)
x

[1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5, 10]

In [33]:
x.extend(['abc', 'new', True, 12.5])
x

[1, 2, 3, 1, 2, 3, 'abc', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5]

In [35]:
x.insert(7,"Python")
print(x, end = " ")

[1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5]

In [36]:
x.index("new")

8

In [37]:
x.index(12.5)

10

In [38]:
x.index(1)

0

In [39]:
x.index("new")

8

In [40]:
x.index("new", 9)

13

In [41]:
x.pop()
x

[1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True]

In [42]:
x.pop(13)

'new'

In [43]:
x

[1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', True]

In [44]:
a =  set(a)

In [45]:
a

{1, 12.5, 2, 3, 'Python', 'abc', 'new'}

In [46]:
x.count("Python")

1

In [47]:
x.count(1)

4

In [51]:
len(x)

14

In [53]:
from collections import Counter

In [55]:
b = Counter(x)
b

Counter({1: 4, 2: 2, 3: 2, 'abc': 2, 'Python': 1, 'new': 1, 12.5: 1, 10: 1})

#  Shallow and Deep Copy

In [56]:
x

[1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', True]

In [58]:
y = x
y

[1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', True]

# Tuple

In [63]:
a = (1,2,3,1,2,3, 'abc','Python','new',True, 12.5, 10)
a

(1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10)

In [64]:
type(a)

tuple

In [67]:
a =tuple((1,2,3,4))
a

(1, 2, 3, 4)

In [68]:
x= (1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5)
print("X = ", x)
print('\n First Character', x[0])
print('\n Last Character', x[-1])
print('\n From 2nd Character', x[1:])
print('\n Until 10th Character', x[:7])
print('\n Between 2nd to 10th Character', x[1:7])
print('\n Negative indexing', x[-4:])
print('\n With Intervals', x[::1])
print('\n With Intervals', x[::2])
print('\n Reverse', x[::-1])
print('\n Negative indexing', x[:-4])

X =  (1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5)

 First Character 1

 Last Character 12.5

 From 2nd Character (2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5)

 Until 10th Character (1, 2, 3, 1, 2, 3, 'abc')

 Between 2nd to 10th Character (2, 3, 1, 2, 3, 'abc')

 Negative indexing ('abc', 'new', True, 12.5)

 With Intervals (1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5)

 With Intervals (1, 3, 2, 'abc', 'new', 12.5, 'abc', True)

 Reverse (12.5, True, 'new', 'abc', 10, 12.5, True, 'new', 'Python', 'abc', 3, 2, 1, 3, 2, 1)

 Negative indexing (1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10)

In [69]:
x.count(1)

4

In [70]:
x.index("Python")

7

In [71]:
l = list(x)
l[7] = "Java"
t = tuple(l)
t

(1,
 2,
 3,
 1,
 2,
 3,
 'abc',
 'Java',
 'new',
 True,
 12.5,
 10,
 'abc',
 'new',
 True,
 12.5)

In [74]:
import timeit

In [76]:
newtuple = timeit.timeit(stmt = '(1,2,3,4,5)', number = 1000000)
newtuple

0.027459300000373332

In [77]:
newtuple = timeit.timeit(stmt = '[1,2,3,4,5]', number = 1000000)
newtuple

0.207687800000258

# Dictionaries - {Key : Value}

In [81]:
a = {"Impartial" : "Free of Bias", "Class": "Python","Batch": 25, "Students": 30, 12: "Shukla", "Avg Score" : 12.50,
    "Activity": True,"Batch" : 36}
a

{'Impartial': 'Free of Bias',
 'Class': 'Python',
 'Batch': 36,
 'Students': 30,
 12: 'Shukla',
 'Avg Score': 12.5,
 'Activity': True}

In [83]:
a["Avg Score"] = 99.99
a

{'Impartial': 'Free of Bias',
 'Class': 'Python',
 'Batch': 36,
 'Students': 30,
 12: 'Shukla',
 'Avg Score': 99.99,
 'Activity': True}

In [90]:
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
Building wheels for collected packages: names
  Building wheel for names (setup.py): started
  Building wheel for names (setup.py): finished with status 'done'
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803695 sha256=ad9f8de1c92707e0bd4cbb2a3ad0c97dc653fd8bccecf61325aa628c64697c5f
  Stored in directory: c:\users\ppuser1\appdata\local\pip\cache\wheels\d0\35\f7\c72132a4f3878b82018a3e61bf2a35e6b63cebe1dd9f72ec1e
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0
Note: you may need to restart the kernel to use updated packages.

In [91]:
import names

operations

In [95]:
a.keys()

dict_keys(['Impartial', 'Class', 'Batch', 'Students', 12, 'Avg Score', 'Activity'])

In [96]:
key = list(a.keys())
key

['Impartial', 'Class', 'Batch', 'Students', 12, 'Avg Score', 'Activity']

In [97]:
a.values()

dict_values(['Free of Bias', 'Python', 36, 30, 'Shukla', 99.99, True])

In [98]:
val = list(a.values())
val

['Free of Bias', 'Python', 36, 30, 'Shukla', 99.99, True]

In [99]:
a.items()

dict_items([('Impartial', 'Free of Bias'), ('Class', 'Python'), ('Batch', 36), ('Students', 30), (12, 'Shukla'), ('Avg Score', 99.99), ('Activity', True)])

In [100]:
a.get("Batch")

36

In [101]:
a.get("Car")

In [102]:
a.['Car']

SyntaxError: invalid syntax (<ipython-input-102-679918a8f136>, line 1)

In [105]:
a.get("car", "Not Avaialble")

'Not Avaialble'

In [106]:
a.get("Batch", "Not Avaialble")

36

In [107]:
a.clear()
a

{}

In [108]:
del a

# Sets
Set {} = Unordered, No Duplicates, Does not allow Boolean, Mutable

In [111]:
x= {1, 2, 3, 1, 2, 3, 'abc', 'Python', 'new', True, 12.5, 10, 'abc', 'new', True, 12.5}
x

{1, 10, 12.5, 2, 3, 'Python', 'abc', 'new'}

In [113]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [116]:
x.add("Japan")
x

{1, 10, 12.5, 2, 3, 'Japan', 'Python', 'abc', 'new'}

In [117]:
x.discard("Japan")
x

{1, 10, 12.5, 2, 3, 'Python', 'abc', 'new'}

In [118]:
b= {1,2,3,"England", "Java"}
b

{1, 2, 3, 'England', 'Java'}

In [120]:
x

{1, 10, 12.5, 2, 3, 'Python', 'abc', 'new'}

In [121]:
x.union(b)

{1, 10, 12.5, 2, 3, 'England', 'Java', 'Python', 'abc', 'new'}

In [122]:
x.intersection(b)

{1, 2, 3}

In [123]:
x.symmetric_difference(b)

{10, 12.5, 'England', 'Java', 'Python', 'abc', 'new'}

In [124]:
b.symmetric_difference(x)

{10, 12.5, 'England', 'Java', 'Python', 'abc', 'new'}

In [125]:
x.difference(b)

{10, 12.5, 'Python', 'abc', 'new'}

In [126]:
b.difference(x)

{'England', 'Java'}

# Input, output and Format

In [128]:
name = input("Please enter your name:")
age = input("Please enter your age:")

Please enter your name:sufi
Please enter your age:24

In [129]:
name, age

('sufi', '24')

In [130]:
type(age)

str

In [133]:
name = input("Please enter your name:")
age = int(input("Please enter your age:"))
income = float(input("Please enter your income:"))
print("Name:", name, "Age", age, "Salary", income)

Please enter your name:sufi
Please enter your age:24
Please enter your income:80000
Name: sufi Age 24 Salary 80000.0

In [140]:
name = input("Please enter your name:")
age = eval(input("Please enter your age:"))
income = eval(input("Please enter your income:"))
#eval function for float and int

Please enter your name:1
Please enter your age:2
Please enter your income:3

In [141]:
print("Name:", name, "Age", age, "Salary", income)

Name: 1 Age 2 Salary 3